---
layout: page 
title: Browse Data
---

<ul class="data">
{% for monument in site.data.monuments %}
<li>
    <strong>{{ monument.name }}</strong>
    <ul>
        <li>Date Established: {{ monument.date_established }}</li>
        <li>Date Challenged: {{ monument.date_challenged }}</li>
        <li>Location: {{ monument.location_text }}</li>
    </ul>
    {% assign decision = monument.decision_process | strip %}
    <p>{{ decision }}. 
    {% assign website = monument.party_website %}
    {% if website %}
    <a href="{{ monument.party_website }}">More information</a>
    {% endif %}
    </p>
</li>
{% endfor %}
</ul>
