---
layout: page 
title: Browse Data
---

<ul class="data">
{% for monument in site.data.monuments %}
<li>
    <strong>{{ monument.name }}</strong>
    <ul>
        <li>Date Established: {{ monument.date_established }}</li>
        <li>Date Challenged: {{ monument.date_challenged }}</li>
        <li>Location: {{ monument.location_text }}</li>
    </ul>
    {% assign decision = monument.decision_process | strip %}
    {% if decision %}
    <p>{{ decision }}. 
    {% assign website = monument.party_website %}
    {% if website %}
    <a href="{{ monument.party_website }}">More information</a>
    {% endif %}
    {% endif %}

    {% assign parties = monument.parties_involved | strip | split: "*" %}
    {% if parties %}
    <p><em>Parties Involved</em></p>
    <ul>
    {% for party in parties %}
    <li>{{ party | strip }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</li>
{% endfor %}
</ul>
